* {
    scroll-behavior: smooth;
}

body {
    background-color: #111;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

/* SECTION */
section {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* HOME */
.home-section {
    background: linear-gradient(to right, #000, #222);
    padding-top: 100px;
}

.hero-text{
    color: rgb(255, 196, 0);
}
.hero-image {
    position: relative;
    padding-top: 20px;
    width: 420px;
    margin: auto;
}

.hero-image img {
    width: 450px;
    height: 450px;

    object-fit: cover;

    border: 2px solid #fff;
    border-radius: 50%;

    transition: .5s ease-out;
    filter: grayscale(10%);
}

/* SOCIAL ICON */
.social-icons i {
    width: 20px;
    filter: grayscale(100%);
    transition: 0.3s;
}

.social-icons img:hover {
    filter: grayscale(0%);
    transform: scale(1.15);
}

/* ABOUT */
#about {
    background-color: #1a1a1a;
}

.about-img {
    width: 460px;
    max-width: 80%;
    border-radius: 15px;
    filter: grayscale(100%);
    transition: 0.3s;
}

.about-img:hover {
    filter: grayscale(0%);
    transform: scale(1.03);
}

/* ABOUT CAROUSEL */
.about-carousel-img {
    width: 200px;
    height: 680px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

/* hover effect */
.carousel-item:hover img {
    transform: scale(1.05);
}

/* smooth carousel */
.carousel-item {
    transition: transform 1s ease-in-out;
}

.carousel-inner {
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

/* PORTFOLIO */
#portfolio {
    background-color: #222;
}

.portfolio-card {
    background-color: #333;
    border: none;
    color: #fff;
    transition: 0.3s;
}

.portfolio-card img {
    width: 100%;
    height: 220px; /* samakan tinggi gambar */
    object-fit: cover; 
    filter: grayscale(10%);
    transition: 0.3s;
}

.portfolio-card:hover {
    transform: translateY(-8px);
}

.portfolio-card:hover img {
    filter: grayscale(0%);
}

.tech-stack .badge {
    font-size: 11px;
    padding: 6px 10px;
    border-radius: 20px;
    margin-right: 5px;
}

/* CONTACT */
#contact {
    background-color: #1a1a1a;
}

.form-control {
    background-color: #333;
    border: none;
    color: #fff;
}

.form-control:focus {
    background-color: #333;
    color: #fff;
    box-shadow: none;
    border: 1px solid #666;
}

.form-control::placeholder {
    color: #aaa;
}